* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    color: #ffd700;
    padding: 10px 60px;
}

footer .part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    width: 100%;
}

footer .part1 div {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .part1 div ul {
    list-style: none;
}

footer .part1 div ul li a {
    text-decoration: none;
    color: #ffd700;
    line-height: 35px;
    transition: ease-in-out 0.5s;
}

footer .part1 div ul li a:hover {
    text-decoration: underline;
}

footer .part1 .address {
    gap: 10px;
    margin-right: 200px;
}

footer .part1 .address p {
    width: 250px;
    line-height: 22.5px;
}

footer .part1 .address h1 {
    width: 250px;
}

footer .part1 .payment-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer .part1 .payment-info div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

footer .part1 .payment-info div i {
    font-size: 25px;
}

footer hr {
    width: 100%;
    border-color: #ffd700;
}

footer .part2 p {
    font-size: small;
}