*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: gold;
    height: fit-content;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 20px 64px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: absolute;
    z-index: 2;
} 

.navbar h2 {
    color: gold;
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style-type: none
}

.navbar .nav-links a{
    margin: 20px;
    color: gold;
    text-decoration: none;
}

.nav-icons a i{
    color: gold;
    margin: 0 10px;
}

.hero{
    background: url(images/hero\ section\ background\ image.jpg);
    background-size: cover;
    background-position: 0 -420px;
    width: 100%;
    height: 89.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content a{
    margin-top: 20px;
    background-color: black;
    color: gold;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-about{
    width: 100%;
    height: 60vh;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}

.home-about-image{
    margin-top: 30px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: url(images/Home\ about\ image.jpg);
    background-size: cover;
    background-position-y: -400px;
}

.home-about-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.home-about-text h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.home-about-text .btn2{
    font-size: 18px;
    margin-top: 30px;
    background-color: gold;
    color: black;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}